* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #f0f8ff;
    width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: cornflowerblue;
    font-size: 32px;
    margin: 14px;
}

img {
    width: 600px;
    height: 400px;
    margin: 0px auto 20px;
    border: 4px solid silver;
}

.recipes,
.recipes a,
.ingredients,
.steps,
.description {
    color: #b0838b;
}

div .recipes {
    background-color: #fafdff;
    width: 200px;
    border: 2px solid;
    margin: 0 auto;
    padding: 10px 50px;
}

.description {
    background-color: #fafdff;
    text-align: center;
    border: 2px solid;
}

